*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.content{
    position: relative;
    text-align: center;
    display: inline-block;
}

.firstcontent p{
  color: white;
  font-weight: 100em;
  font-size: 40px;
  position: relative;
  top: -150px;
  left: 100px;
}

.contentMiddle {
  margin-top: 20px;
}

.fotoPerros{
  margin-top: 20px;
}
.perro img {
  width: 200px;
  height: 200px;
}